<div class="container">

  <h2>Esqueceu sua senha?</h2>

  <div class="form-fields">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar email para troca de senha" %>
      </div>
    <% end %>

    <div class="helper-links">
      <%= link_to('Cadastrar', new_user_registration_path)  %>
      <%= link_to('Esqueci minha senha', new_password_path(resource))  %>
    </div>

  </div>

</div>
